.toolbar {
    grid-area: toolbar;
    display: flex;
    justify-content: flex-start;
    font-size: 1rem;
    background: rgba(255,229,100,0.2);
    border-radius: 15px;
    padding: 10px;
    align-items: center;
    margin-bottom: -1rem;
    border: 1px solid rgba(0,0,0,0.2);
    flex-wrap: wrap;
}

.toolbar__item {
    display: flex;
    align-items: center;
    padding-right: 20px;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.toolbar__item__checkbox {
    display: flex;
    align-items: center;
    padding-right: 7px;
}

.toolbar__item label {
    padding-right: 10px;
}

.toolbar__item select {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

@media (min-width: 767px) {
    .toolbar {
        justify-content: center;
    }
    .toolbar__item{
        margin-bottom: 0px;
    }
}